*{
    font-family: sans-serif;
}

body{

    margin: 0;
    padding: 0;
    background-color: #363636;
    color: #fff;
}

.container{

    height: 100%;
    width: 90%;
    text-align: center;
    margin: auto;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#nome{

    margin-top: 200px;
    font-size: 60px;
    line-height: 1.2;
    
}

#sobre{

    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.5px;
    
}

.menu-home a {

    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    letter-spacing: 3px;
}

.menu-home a:hover{

    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    border-bottom: 10px solid #fff;
    border-color: #DE2E0B;
    background-color: #F51400;
    font-size:30px;
}

.menu-home ul li {

    list-style: none;
    text-decoration: none;
    display: inline;
    text-align: center;
    
}

.menu-home {

    padding-top: 20px;
}
#design {
    background-color: #fff;
    width: 10%;
    height: 800px;
    border-radius: 0% 100% 0% 100% / 37% 100% 0% 63% ;
    background-color: #F51400;
    margin-bottom: 30px;
    margin-left: 20px;
}

#design1 {

    background-color: #fff;
    width: 10%;
    height: 800px;
    float: right;
    border-radius:60% 40% 98% 2% / 100% 71% 29% 0% ;
    margin-right: 10px;
    background-color: #DE2E0B;

}

#rodape-home{

    background-color: #fff;
    position:absolute;
    width: 100%;
    bottom:3;
    margin: auto;
    text-align: center;
    color: #DE2E0B;
    height: 150px;
}

#rodape-home img{

    padding: 15px;
    margin: auto;
    margin-top: 15px;
}
#rodape-home p{

    font-size: 20px;
    font-weight: 900;
}


#sobre{
    
    height: 300px;
    font-size: 30px;
    margin-top: 100px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    text-align: left;

}

#conhecimentos{

    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    border-bottom: 1px solid #F51400;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
#conhecimentos:hover{

    font-size: 35px;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    border-bottom: 5px solid #DE2E0B;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

#tec, #tec1, #tec2,#tec3{

    margin-top: 40px;
    padding: 40px;
    
}


#tec:hover{

    width: 320px;
}

#tec1:hover{

    width: 320px;
}

#tec2:hover{

    width: 120px;
}
#tec3:hover{

    width: 320px;
}


#instituicoes{

    margin-top: 90px;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    border-bottom: 1px solid #F51400;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
 
#instituicoes:hover{

    font-size: 35px;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    border-bottom: 5px solid #DE2E0B;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}


#hard {

    margin-top: 90px;
    width: 30%;
    border-left: 1px solid;
    border-color: #F51400;
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

.formulario{
    position: relative;
    margin-top: 150px;
}

input{
    padding: 5px;
    font-size: 30px;
    outline: 0;
    color: #000;
    font-size: 20px;
    margin: auto;

}

textarea{
    margin-top: 30px;
    width: 500px;
    height: 120px;
    text-align: center;
    outline: 0;
    color: #000;
    font-size: 20px;
}

#form {
    margin-top: 100px;
 
}

#design4{
    float: left;
    width: 10%;
    height: 800px;
    background-color:#DE0B38 ;
    border-radius: 63% 37% 0% 100% / 30% 30% 70% 70% ;
}

#design5{
    float: right;
    width: 10%;
    height: 800px;
    background-color:#FA660D ;
    border-radius: 63% 37% 100% 0% / 30% 30% 70% 70% ;
}

.contatos a{
    padding: 15px;
}


#port{
    margin-top: 90px;
}

.imgss ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#template:hover{
    width: 800px;
    height: 800px;
}