

#CardPequeno-Container{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 770px;
   

}
#CardPequeno-Container div{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

img{
    width: 25px;
    margin-right: 10px;

}


#endereco{
    display: flex;
    flex-direction: column;
}